<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.mall.coupon.dao.CouponMapper">

    <update id="lineLockTest">
        update t_coupon set initTotalCouponNumber = initTotalCouponNumber - #{buyNumber} where activityCode = #{activityCode} and initTotalCouponNumber - #{buyNumber} >= 0
    </update>

</mapper>
