<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.mall.admin.dao.SysUserMapper">

    <resultMap type="com.ww.mall.admin.entity.SysUser" id="SysUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="platform" column="platform" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="headPicture" column="head_picture" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="valid" column="valid" jdbcType="INTEGER"/>
        <result property="platformId" column="platform_id" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
        <result property="updaterId" column="updater_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        platform,
        username,
        nickname,
        password,
        salt,
        head_picture,
        sex,
        email,
        phone,
        remark,
        status,
        valid,
        platform_id,
        version,
        creator_id,
        updater_id,
        create_time,
        update_time
    </sql>

    <select id="findMenuIdsByRoleIds" resultType="java.lang.Long">
        select menu_id from sys_role_menu where role_id in
        <foreach item="roleId" collection="roleIds" index="index" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

</mapper>

